* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  position: relative;
  min-height: 100%;
}

.container {
  margin: 0 auto;
  padding: 1rem;
  width: 90%;
  height: 70vh;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.container-item {
  width: calc(100% / 2 - 5rem);
  flex-grow: 1;
}

h2 {
  padding: 2rem 0;
}

ol {
  margin-left: 2rem;
}

li {
  padding: 0.4rem 0;
}

@media (max-width: 768px) {
  .container {
    align-items: center;
    justify-content: center;
  }

  .container-item {
    width: calc(100% - 5rem);
  }
}
